<div class="jumbotron">
  <h2>Users CRUD!</h2>
  <p class="lead">FY.</p>

    <table class="table">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Bio</th>
        <th>Age</th>
        <th>Delete</th>
      </tr>

    <%= for user <- users_keys @users do %>
      <tr>
        <td style="text-align: left;"><%= user.name %></td>
        <td style="text-align: left;"><%= user.email %></td>
        <td style="text-align: left;"><%= user.bio %></td>
        <td style="text-align: left;"><%= user.age %></td>
        <td style="text-align: left;">
        <%#= link_to method: :delete %>
        <a href='/users/delete/<%= user.id %>'>Delete</td>
      </tr>
    <% end %>
  </table>
</div>
